@font-face {
	font-family: pixel;
	src: url('/fonts/pixel.ttf');
}

@font-face {
	font-family: pixel-bold;
	src: url('/fonts/pixel-bold.ttf');
}

body {
	background: #000;
	margin: 0;
	height: calc(200vh - 8.2vw);
}

a, a:hover, a:visited {
	color: #00A2E8;
}

header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-size: cover;
	background: url('/images/bg.png') center;

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.3);
	}

	img.header {
		position: absolute;
		left: 4%;
		width: 92%;
	}

	div.tabs {
		position: absolute;
		left: 7.8125%;
		bottom: 0;
		width: 84.375%;
		height: 8.2vw;

		div {
			background-size: contain;
			background-position: center;
		}

		h2 {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			margin: 0;
			color: white;
			font-family: pixel-bold, sans-serif;
			text-align: center;
			transition: color 300ms;
		}

		h2:hover {
			color: #00A2E8;
		}

		img {
			width: 100%;
		}

		div.download {
			width: 100%;
			height: 100%;
			background-image: url('/images/download.png');

			img {
				bottom: 0;
			}

			h2 {
				line-height: 10vw;
				font-size: 3.4vw;
			}
		}

		div.news {
			position: absolute;
			left: 6.79%;
			top: 6.25%;
			width: 25.93%;

			h2 {
				line-height: 5.8vw;
				font-size: 2vw;
			}
		}

		div.about {
			position: absolute;
			left: 67.28%;
			top: 6.25%;
			width: 25.93%;

			h2 {
				line-height: 5.8vw;
				font-size: 2vw;
			}
		}
	}
}

div.downloads {
	font-family: Arial,sans-serif;
	color: white;

	h2 {
		font-size: 1.8em;
		text-align: center;
	}

	div.half {
		position: absolute;
		width: 50%;
		padding: 0 5%;
		box-sizing: border-box;
	}

	div.half.left {
		left: 0;
	}

	div.half.right {
		left: 50%;
	}
}