<div class="layout-transparent mdl-layout mdl-js-layout">
	<header class="mdl-layout__header mdl-layout__header--transparent">
		<div class="mdl-layout__header-row">
			<!-- Title -->
			<span class="mdl-layout-title">
				<a routerLink=""><img src="assets/images/logo-wide.png" style="height:50px"></a>
			</span>
			<!-- Add spacer, to align navigation to the right -->
			<div class="mdl-layout-spacer"></div>
			<!-- Navigation -->
			<nav class="mdl-navigation">
				<a class="mdl-navigation__link" href="">Download</a>
				<a class="mdl-navigation__link" href="">About</a>
				<a class="mdl-navigation__link" href="">News</a>
				<a class="mdl-navigation__link" href="">Forums</a>
				<a class="mdl-navigation__link" href="">Login</a>
			</nav>
		</div>
	</header>
	<div class="mdl-layout__drawer">
		<span class="mdl-layout-title" style="padding:0">
			<a routerLink=""><img src="assets/images/logo-wide.png" style="position:relative; left:5%; width:90%"></a>
		</span>
		<nav class="mdl-navigation">
			<a class="mdl-navigation__link" href="">Download</a>
			<a class="mdl-navigation__link" href="">About</a>
			<a class="mdl-navigation__link" href="">News</a>
			<a class="mdl-navigation__link" href="">Forums</a>
			<a class="mdl-navigation__link" href="">Login</a>
		</nav>
	</div>
	<main class="mdl-layout__content">
		<router-outlet></router-outlet>
	</main>
</div>