<form [formGroup]="form" (submit)="onSubmit()">
	<md-input-container>
		<input
				mdInput
				placeholder="Email..."
				required
				type="email"
				formControlName="email">
		<md-error *ngIf="form.get('email').hasError('required')">
			Email is required
		</md-error>
		<md-error *ngIf="!form.get('email').hasError('required') && form.get('email').hasError('email')">
			Must be a valid email address
		</md-error>
	</md-input-container>
	<md-input-container>
		<input
				mdInput
				minlength="5"
				placeholder="Password..."
				required
				type="password"
				formControlName="password">
		<md-error *ngIf="form.get('password').hasError('required')">
			Password is required
		</md-error>
	</md-input-container>
	<button md-raised-button [disabled]="form.invalid">
		LOGIN
	</button>
</form>