div.centre{
    position: absolute;
    left: 50%;
    width: 800px;
    transform: translate(-50%, 0);
}

div.responsive{
    width: 800px;
}

div.centre div.concept{
    position: relative;
    left: 50%;
    width: 550px;
    height: 500px;
    transform: translate(-50%, 0);
    background: url("../../assets/images/concept.gif");
}

.image-card > .mdl-card__actions{
    position: absolute;
    bottom: 0;
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.6);
}

.image-card > .mdl-card__actions > span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

@media screen and (max-width: 1024px){
    div.responsive{
        padding: 4vw;
        width: 92vw;
    }

    div.centre div.concept{
        width: 100%;
        height: 83.63vw;
        background-size: cover;
    }
}