<div id="twitter" style="width: 400px; height: calc(100% - 2vw); margin: 1vw 0 0 1vw;">
	<a class="twitter-timeline" data-theme="dark" data-link-color="#00A2E8" data-height="100%" href="https://twitter.com/8BitWarframe">Tweets by 8BitWarframe</a>
</div>