<div class="login-register mdl-card mdl-shadow--2dp">
	<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect" style="color: black">
		<div class="mdl-tabs__tab-bar">
			<a class="mdl-tabs__tab is-active" id="registerTab" href="#register" (click)="selectTab(0)">Register</a>
			<a class="mdl-tabs__tab" id="loginTab" href="#login" (click)="selectTab(1)">Login</a>
		</div>
		<div class="mdl-tabs__panel is-active" id="register">
			<form [formGroup]="registerForm">
				<md-input-container>
					<input
							mdInput
							placeholder="Alias..."
							required
							formControlName="alias"
							(blur)="onRegisterValueChanged($event)">
					<md-error *ngIf="registerFormErrors.alias">
						{{registerFormErrors.alias}}
					</md-error>
				</md-input-container>
				<md-input-container>
					<input
							mdInput
							placeholder="Email..."
							required
							type="email"
							formControlName="email"
							(blur)="onRegisterValueChanged($event)">
					<md-error *ngIf="registerFormErrors.email">
						{{registerFormErrors.email}}
					</md-error>
				</md-input-container>
				<md-input-container>
					<input
							mdInput
							minlength="5"
							placeholder="Password..."
							required
							type="password"
							formControlName="password"
							(blur)="onRegisterValueChanged($event)">
					<md-error *ngIf="registerFormErrors.password">
						{{registerFormErrors.password}}
					</md-error>
				</md-input-container>
				<md-input-container>
					<input
							mdInput
							placeholder="Confirm password..."
							required
							type="password"
							formControlName="password2"
							(blur)="onRegisterValueChanged($event)">
					<md-error *ngIf="registerFormErrors.password2">
						{{registerFormErrors.password2}}
					</md-error>
				</md-input-container>
				<button class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect login-register-field" (click)="register()">
					Register
				</button>
			</form>
		</div>
		<div class="mdl-tabs__panel" id="login">
			<form>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label login-register-field">
					<input class="mdl-textfield__input" type="email" id="l-email" name="email" [(ngModel)]="email">
					<label class="mdl-textfield__label" for="l-email">Email...</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label login-register-field">
					<input class="mdl-textfield__input" type="password" id="l-password" name="password" [(ngModel)]="password">
					<label class="mdl-textfield__label" for="l-password">Password...</label>
				</div>
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect login-register-field" (click)="login()">
					Login
				</button>
			</form>
		</div>
	</div>
</div>