<div class="responsive centre">
	<h1>Download</h1>
	<md-card class="itch">
		<md-card-title>
			<img src="/assets/images/itch.svg" md-card-avatar/>
			itch.io
		</md-card-title>
		<md-card-content>
			The preferred way to way to obtain Lost Sector is via the itch.io app, which will automagically keep the game up to date for you!
		</md-card-content>
		<md-card-actions>
			<a href="https://itch.io/app">
				<button md-button>Download itch.io app</button>
			</a>
		</md-card-actions>
	</md-card>
	<div class="downloadLinks">
		<md-card>
			<md-card-title>
				<img src="/assets/images/windows.svg" md-card-avatar/>
				Windows
			</md-card-title>
			<md-card-actions>
				<a href="https://8bitwarframe.itch.io/lost-sector">
					<button md-button>Download</button>
				</a>
			</md-card-actions>
		</md-card>
		<md-card>
			<md-card-title>
				<img src="/assets/images/apple.svg" md-card-avatar/>
				macOS
			</md-card-title>
			<md-card-actions>
				<a href="https://8bitwarframe.itch.io/lost-sector">
					<button md-button>Download</button>
				</a>
			</md-card-actions>
		</md-card>
		<md-card>
			<md-card-title>
				<div style="display: inline-block; background-image: url(/assets/images/linux.svg); vertical-align: middle" md-card-avatar></div>
				Linux
			</md-card-title>
			<md-card-actions>
				<a href="https://8bitwarframe.itch.io/lost-sector">
					<button md-button>Download</button>
				</a>
			</md-card-actions>
		</md-card>
	</div>
	<md-card class="requirements">
		<md-card-title>Requirements</md-card-title>
		<md-card-content>
			<md-list>
				<md-list-item>
					<img src="/assets/images/java.svg" md-list-icon />
					<h4 md-line>Java 8</h4>
					<p>Java acts as an intermediary between the game code and the operating system, allowing us to develop the game for
						Windows, macOS and Linux without much extra work on our part</p>
				</md-list-item>
			</md-list>
		</md-card-content>
		<md-card-actions>
			<a href="https://java.com/en/download/">
				<button md-raised-button>Get Java 8</button>
			</a>
		</md-card-actions>
	</md-card>
</div>