<header>
    <img src="/images/header.png" class="header"/>
    <div class="tabs">
        <img src="/images/download.png" class="download"/>
        <img src="/images/news.png" class="news"/>
        <img src="/images/about.png" class="about"/>
    </div>
</header>
{{outlet}}
